<!DOCTYPE html>
<html lang="es">
    <head>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta charset="utf-8" />
       
        <link rel="stylesheet" href="Busqueda.css">
        <title>EyeVisualGraf</title>
    </head>
    <body>
        
        <header>
        	
  				<div class="row">
  					<div class="col-12">
        			
        				<div class="logo">
        					<img src="bbva.PNG">
        				</div>
           			
           	</div></div>	
           	
        </header>

       

            
       		<form action="" class="formulario">
       			
       			<div class="row">
       				<div class="col-4">
       					<div class="radio">
       				
	 
							<input type="radio" name="producto" id="empresa">
							<label for="empresa"> <img src="empresa.PNG"> </label>
		
							<input type="radio" name="producto" id="auto">
							<label for="auto"> <img src="auto.PNG"> </label>
		
							<input type="radio" name="producto" id="nomina">
							<label for="nomina"> <img src="nomina.PNG"> </label>

							<input type="radio" name="producto" id="prestamo">
							<label for="prestamo"> <img src="prestamo.PNG"> </label>

						</div>

					</div>
				
			
			

					<div class="col align-self-center" id="listas">


						<div class="lista1">

							<h2>  Variable	</h2>
							<select name="OS">
	   							<option selected value="0"> Elige una opción </option>
       					   		<option value="1">Windows Vista</option> 
	       						<option value="2">Windows 7</option> 
       							<option value="3">Windows XP</option> 
							</select>
						</div>	

				


						<div class="lista2">

							<h2>  Nivel  </h2>
							<select name="OS">
	   							<option selected value="0"> Elige una opción </option>
       				
							    		<option value="1">Windows Vista</option> 
    	   								<option value="2">Windows 7</option> 
    		   							<option value="3">Windows XP</option> 

							</select>
						</div>

						<div class="lista3">

							<h2>  Medida  </h2>
							<select name="OS">
	   							<option selected value="0"> Elige una opción </option>
       					
					    		<option value="1">Windows Vista</option> 
       							<option value="2">Windows 7</option> 
       							<option value="3">Windows XP</option> 

							</select>
						</div>
						<button type="submit" class="submit"><center>Buscar</center></button>
					</div>

				</div>
			
				
					
	        </form>
	    </div> 
      
    </body>
</html>