/* ----- ----- ----- ----- */

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  }


header{

    background:#14549C;
   }

header .col-12{
  padding: 0;
}
header img{
    width: 10%;
    margin: auto;
display: block; }



.radio img{
width: 39%;}


body {
  font-size: 16px;
  background: #fff;
  font-family: Radley; }

.lista1 select, .lista2 select, .lista3 select{
  width: 50%;
  height: 20%;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;

  margin: auto;
  display: block;
  line-height: 1.5;}

.lista1, .lista2, .lista3{
  padding-bottom: 50px;
}

.formulario {
  /* --------------------------------------- */
  /* ----- Radio Button */
  /* --------------------------------------- */
  }

  .formulario h2 {
    text-align: center;
    font-size: 40px;
    color: #021530;
    }



.formulario .radio{
    background: #14549C; 
}

  .formulario .radio label {
    display: inline-block;
    cursor: pointer;
    color: #006EC1;
    position: relative;
    padding: 10px 15px 5px 51px;    
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

    .formulario .radio label:hover {
      background: #89D1F3; }

    .formulario .radio label:before {
      content: "";
      width: 17px;
      height: 17px;
      position: absolute;
      border-radius: 50%;
      background: none;
      border: 3px solid #1aedb8; }

  .formulario input[type="radio"] {
    display: none; }

    .formulario input[type="radio"]:checked + label:before {
      display: none; }

    .formulario input[type="radio"]:checked + label {
      padding: 5px 15px;
      background: #006EC1;
      border-radius: 2px;
      color: #fff; }


      .formulario .col-8{
        padding: 0;
      }

      .formulario .col-4{
        padding: 0;
      }


    .submit{
        color:#fff;
        font-size: 40px;
        padding-top: 10px;
        background: #14549C;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 60px; 
        width: 60%;
        margin: auto;
        display: block;
        line-height: 1.5;}
